SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_SHOP=d3cabe.myshopify.com
SHOPIFY_WEBHOOK_SECRET=
GMAIL_USER=ventas@bucarestart.cl
GMAIL_PASSWORD=
INTERNAL_EMAILS=ventas@bucarestart.cl,bucarestart@gmail.com
PINTURA_COLLECTION_ID=456755478830
APP_URL=
PORT=3000
